
<button id="swtchButton" class = "btn btn-danger"  [routerLink]="['/firebase']">Firebase Users</button>
<button class="btn btn-primary" (click) = "logout()">Logout</button>

<h2>Add users</h2>
<user-create (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></user-create>
<h2>
List of Users
</h2>

<ul class = "list-group">
<li class = "list-group-item" *ngFor = "let key of usersKeys" >

<a [routerLink] = "['/user',key]">{{'user number '+key+' :'+users[key].username }}</a>
<button class= "btn btn-outline-primary" (click)="deleteUser(key)">Delete</button>
<button class="btn btn-info" [routerLink] = "['/user-update', key]" (click) = "updateUser(key)">Update</button>
</li>
</ul>