<br/>
<br/>
<a  class="nav-link" routerLink="/products" routerLinkActive="active"  class="btn btn-primary">Back to Products</a>
<br />
<br />
<h2>Search Results</h2>

<ul class="list-group">
  <div *ngIf="lengthKeys == 0">
    No Results was found. Please write product's name in CAPITAL LETTERS.
  </div>
  <li class="list-group-item" *ngFor = "let key of productsKeys" >
    <span><b>Name:</b> {{products[key].name}}</span>
    <br />
    <span><b>Price:</b> ${{products[key].price}}</span>
 </li>  
</ul>