<div class = "col-md-12">
<h2>
List of Firebase data
</h2>
<ul class = "list-group">
    <li class = "list-group-item"  *ngFor= "let data of dataFire"> <!--סינטקס שמור של ללואה המציגה את רשימה ההודעות מתוך האובייקט שעליו עשינו סבסקרייב -->
      <span><b>Product Name</b> {{data.name}}  </span>
      <br />
      <span><b>Product Price</b> {{data.price}}  </span>
      
      
    </li>
</ul>
</div>