<div class = "col-md-12">
<br />
<br />
<h2>
Search of Products
</h2>
<p>Please type product name in CAPITALS</p>
<form [formGroup] = "searchForm" (ngSubmit) = "sendData()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" formControlName = "name" required>
	    <div *ngIf="!searchForm.controls.name.valid && searchForm.get('name').touched" class="alert alert-danger">
	      Please add Name
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchForm.valid">  
	  </div>
</form>

<br />


<h2>
List of Products
</h2>
<div>
<ul class = "list-group">
<li class = "list-group-item" *ngFor = "let key of productsKeys" >


    <span><b>Product ID:</b> {{products[key].id}}</span>
    <br />
    <span><b>Product Name:</b> {{products[key].name}}</span>
    <br />
    <span><b>Product Price:</b> ${{products[key].price}}</span>
    <div>
    <button class="btn btn-info" [routerLink] = "['/edit-product', key]" (click) = "updateProduct(key)">Edit</button>
    </div>
</li>
</ul>
</div>
</div>