<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">

      <li routerLinkActive = "active current" [routerLinkActiveOptions]= {exact:true}> <a routerLink = "">Products</a></li><!-- מונע ריפרש של הדף ומבצע רק את הריפרש של הקומפוננטס-->
     <!-- <li routerLinkActive = "active current" ><a routerLink="/products">Products</a></li> !-->
     <!-- <li routerLinkActive = "active current" ><a routerLink="/users">Users</a></li> !-->
      <li routerLinkActive = "active current" ><a routerLink="/firebase">firebase</a></li>
     <!-- <li routerLinkActive = "active current" ><a routerLink="/users-roni">UsersUpdateInSamePage</a></li> !-->
      <li routerLinkActive = "active current"><a routerLink="/login">Login</a></li>   
    </ul>
  </div>
</div>
</nav>