<h2>User number {{user?.id}}</h2> <!--> הצגה של משתנה בסוגריים מסולסלים כפולים<!-->
<div>
  Username : {{user?.username}} <!--> ברגע שהקומפוננט נטען הנתונים עדיין לא הגיעו מהשרת ולכן אנחנו מוסיפים את הסימן שאלה שאומר לאנגולר לחכות עד שהנתונים יגיעו מהשרת<!-->
</div>
<div>
  email : {{user?.email}} <!--> ברגע שהקומפוננט נטען הנתונים עדיין לא הגיעו מהשרת ולכן אנחנו מוסיפים את הסימן שאלה שאומר לאנגולר לחכות עד שהנתונים יגיעו מהשרת<!-->
</div>
